<h1><%= @group.name %></h1>

<% if logged_in? %>
  <% if current_user.groups.include?(@group) %>
    <span class="group-leave"><%= render partial: 'layouts/leave', locals: {group: @group } %></span>
  <% elsif current_user == @group.owner %>
    <span class="group-owner">あなたはグループの所有者です。</span>
    <span class="group-edit"><%= link_to '変更する', edit_group_path  %></span>
  <% else %>
    <span class="group-join"><%= render partial: 'layouts/join', locals: {group: @group } %></span>
  <% end %>
<% end %>
<div id="group-info">
  <span class="key">管理者:</span><span class="value"><%= link_to @owner.nickname, user_path(@owner) %></span><br>
  <span class="key">説明:</span><span class="value"><%= @group.description %></span>
</div>

<div id="members">
  <h2>グループのメンバー</h2>
  <% if @group.users.empty? %>
    <span class="empty-member">グループのメンバーはまだいません</span>
  <% else %>
  <table>
    <% @group.users.each do |member| %>
      <tr>
        <td><%= link_to member.nickname, user_path(member) %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>