<h1>マイページ</h1>

<div id="userinfo">
  <div id="name"><span class="key">名前: </span><span class="value"><%= current_user.nickname %></span></div>
  <div id="email"><span class="key">メールアドレス: </span><span class="value"><%= current_user.email %></span></div>
  <div id="edit"><%= link_to 'プロフィールを編集', mypage_edit_path %></div>
</div>

<div id="owner_groups">
  <h2>管理しているグループ</h2>
  <% if current_user.owner_groups.empty? %>
    <span class="empty-group">管理しているグループはありません。新しいグループは<%= link_to 'ここから', new_group_path %>作成できます</span>
  <% else %>
  <table>
    <tr>
      <th>グループ名</th>
      <th>グループの説明</th>
    </tr>
    <% current_user.owner_groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group.id) %></td>
        <td><%= group.description %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<div id="member_of_groups">
  <h2>参加しているグループ</h2>
  <% if current_user.groups.empty? %>
    <span class="empty-group">参加しているグループはありません。新しいグループは<%= link_to 'ここから', groups_path %>見つけられます</span>
  <% else %>
  <table>
    <tr>
      <th>グループ名</th>
      <th>グループの説明</th>
    </tr>
    <% current_user.groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group.id) %></td>
        <td><%= group.description %></td>
        <td>
          <%= render partial: 'layouts/leave',locals: {group: group } %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>