<div  id="header">
    <li><%= link_to 'トップページ', root_path %></li>
  <% if logged_in? %>
    <li><%= link_to 'グループの作成', new_group_path %></li>
    <li><%= link_to "#{current_user.nickname}", mypage_path %> でログイン中</li>
    <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'ログイン', login_path %></li>
    <li><%= link_to 'サインアップ', new_user_path %></li>
  <% end %>
</div>
